body {
  background-color: #222831;
  color: #f1b10b;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.8;
  box-sizing: border-box;
}

section#bg-home{
  height: 100vh;
  margin: 0 0;
  padding-top: 0;
  padding-bottom: 0;
}

section {
  min-height: 100vh;
  margin: 3.5rem 0;
  /* padding: 20px 0; */
}

.title {
  font-size: 1.6rem;
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding: 20px 0;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar *, .nav-item * {
  color: #dfa612;
}

.content-wrapper {
  margin: auto;
}

a {
  color: #dfa612;
}

.btn {
  background-color: #1a1d24;
  color: #dfa612;
  border: solid 1px #dfa612;
  border-radius: 0;
}

.btn:hover {
  color: #212529;
  text-decoration: none;
  background: #dfa612;
}

.work-box {
  background-color: #1a1d24;
  border-radius: 5px;
}

.project-links:hover {
  text-decoration: none;
  color: #d4c7b8;
}


.work-box {
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 2rem 1.75rem;
  height: 100%;
  border-radius: 3px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  background-color: #daa51b;
  color: #222831;
}

.work-box:hover {
  transform: translateY(-5px);
}

a svg {
  width: 20px;
  height: 20px;
}

svg {
  fill: #222831;
  vertical-align: middle;
}

ul#stack {
  margin-top: 20px;
  margin-bottom: 0;
}

ul#stack .stack-item {
  margin-right: 10px;
}

div.link-out {
  margin-bottom: 10px;
}

h3.project-title {
  margin-bottom: 1rem;
}

div .project-content {
  font-size: 13px;
  font-weight: bold;
}

.profile-container {
  background-color:
  rgba(223, 166, 18, 0.5);
  width: 230px;
  height: 235px;
  border-radius: 3px;
  padding: 0;
}

.profile-container:hover {
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  background: none;
}

.img-link {
  border-radius: 3px;
}

.profile-pic:hover {
  filter: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.profile-pic {
  position: relative;
  z-index: -1;
  width: 230px; 
  height: 235px;
  transition: all 0.7s;
  position: relative;
  filter: grayscale(100%) contrast(1);
  border-radius: 3px;
}

ul {
  list-style-type: disclosure-closed;
}

.subtitle {
  margin-top: 23px;
  margin-bottom: 2rem;
}

.navbar-collapse {
  flex-grow: 0;
}

